*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-color: #000;
}
canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
