*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}
#game-container{
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    /*padding: 1rem;*/
}
