*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    color: white;
}
.d-none{
    display: none !important;
}
.text-center{
    text-align: center;
}

#game-container{
    /*border: 1px solid rgba(255, 255, 255, 0.2);*/
    position: relative;
    padding: 1rem;
    /*width: 1024px;*/
    /*height: 576px;*/
}

.menu{
    position: absolute;
    top: 0; right: 0;
    bottom: 0;
    left: 0;
    /*background: url('./img/start_screen_background.png') no-repeat;*/
    /*background-size: contain;*/
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.5);
}
.menu .menu-container{
    transform: translateY(-4rem);
}
.menu .title{
    margin-bottom: 1.5rem;
    text-align: center;
}
.btn-group{
    display: flex;
    flex-direction: column;
}
.btn{
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
}
.btn img{
    content: url("./img/ui/btn_normal.png");

}
.btn:hover img{
    content: url("./img/ui/btn_active.png");
}
.btn span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
header h4, .user{
    z-index: 10;
}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.user #profile-picture{
    width: 25px;
    border-radius: 50%;
}

#scoreboard table{
    table-layout: fixed;
    width: 60%;
    margin: 0 auto 2rem auto;
    text-align: center;
}
td, th{
    padding: 0.5rem;
}

.loader {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader-lg{
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}